.rightHeader {
    display: flex;
    height: 100%;
    align-items: center;
}

.rightHeader img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid black;
    margin-left: 10px;

}

.rightHeader p {
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
}

.rightHeader img:hover {
    border: 2px solid orangered;

}