.modal-publication {
  height: 520px;
}
.ui.grid {
  margin: 0;
  height: 100%;
}

.modal-publication__left {
  background-size: cover;
  background-repeat: no-repeat;
}

.modal-publication__right {
  height: 100%;
  padding: 0 !important;
}
